[Unit]
Description=Update the kernel keycode database with correct keysyms for a PC122 keyboard
Documentation=https://really.zonky.org/?p=1125

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/share/fix_key_codes.sh

[Install]
WantedBy=default.target
